<a href="https://colab.research.google.com/github/Sandeeppasala/EVA4_Session2/blob/master/sandeep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
2+2

4

In [92]:
thisset = {"apple","banana","cherry"}
for x in thisset:
  print(x)

print("banana" in thisset)

banana
cherry
apple
True

In [93]:
thisdict = {
    "Engineer":"Sandeep",
    "Doctor":"Priyanka",
    "Student":"Ishita"
}

print(thisdict)
print(thisdict["Engineer"])
print(thisdict["Doctor"])
print(thisdict["Student"])

thisdict["Student"] = "Varanasi"
print(thisdict["Student"])
print(thisdict)

{'Engineer': 'Sandeep', 'Doctor': 'Priyanka', 'Student': 'Ishita'}
Sandeep
Priyanka
Ishita
Varanasi
{'Engineer': 'Sandeep', 'Doctor': 'Priyanka', 'Student': 'Varanasi'}

In [94]:
for x in thisdict:
  print(x)

Engineer
Doctor
Student

In [95]:
for y in thisdict:
  print(thisdict[y])

Sandeep
Priyanka
Varanasi

In [96]:
for x in thisdict.values():
  print(x)

Sandeep
Priyanka
Varanasi

In [97]:
for x,y in thisdict.items():
  print(x,y)
print(len(thisdict))

thisdict["Place"] = "Banglore"
print(thisdict)

#thisdict.pop("Student")
#print(thisdict)

Engineer Sandeep
Doctor Priyanka
Student Varanasi
3
{'Engineer': 'Sandeep', 'Doctor': 'Priyanka', 'Student': 'Varanasi', 'Place': 'Banglore'}

In [98]:
thisdict.popitem()
print(thisdict)

{'Engineer': 'Sandeep', 'Doctor': 'Priyanka', 'Student': 'Varanasi'}

In [100]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def myFunc(self):
    print(self.name)
    print(self.age)

p1 = Person("John", 33)

p1.myFunc()

p1.age = 34
p1.name = "Sandeep Pasala"   
p1.myFunc()   

del p1.age
del p1.name
del p1

John
33
Sandeep Pasala
34

In [102]:
#Create a class named Person, with firstname and lastname properties, and a printname method:

class Person:
  def __init__(self,firstname,lastname):
    self.firstname = firstname
    self.lastname = lastname

  def printname(self):
    print(self.firstname,self.lastname)

p1 = Person("Sandeep", "Pasala")
p1.printname();

Sandeep Pasala

In [106]:
#Create a class named Student, which will inherit the properties and methods from the Person class:
class Student (Person):
  def __init(fname, lname):
    Person.__init__(fname,lname)

x1 = Student("Naga Priyanka","Edara")
x1.printname()

Naga Priyanka Edara

In [107]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20